.buttonGray{
    border:none;
    background-color:gray;
    padding: 8px 12px;
    color:white;
    font-size:14px;
    display:flex;
    align-items:center;
    border-radius: 8px;
    cursor:pointer;
    transform: translateY(-3px);
    transition: transform 0.1s;
    box-shadow: rgba(209, 209, 211, 0.5) 0px 4px 12px;
  }
  
  .buttonGray:hover{
    transform: translateY(2px);
  }
  