.buttonGray{
    border:none;
    background-color:var(--gray);
    padding: 8px 12px;
    color:gray;
    font-size:14px;
    display:flex;
    align-items:center;
    border-radius: 8px;
    cursor:pointer;
    transition: background-color 0.5s ease, color 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  .buttonGray:hover{
    background-color:gray;
    color:white;
  }
  