
:root {
  --background: #ffffff;
  --foreground: #171717;
  --gray: #F5F5F5;
  --primary: #000D87;
  --darkGray: #D0D0D0;
  --success: #4caf50;
  --danger : #f44336;
  --info : #c27304;

}

[data-theme='dark'] {
  --background: #0a0a0a;
  --foreground: #ededed;
  --gray: #363636;
  --primary: #485af7;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  width:100%;
}

.toastContainer {
  cursor:pointer;
}








